services:
  api:
    build:
      context: .
      dockerfile: api.dockerfile
    image: animal-crossing-api:latest
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USERNAME: ac_user
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_DATABASE: animal_crossing
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
    develop:
      watch:
        - action: rebuild
          path: src/api
    secrets:
      - db_user_password

  db:
    image: mariadb:12.2.2
    restart: unless-stopped
    expose:
      - "3306"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MARIADB_DATABASE: animal_crossing
      MARIADB_USER: ac_user
      MARIADB_PASSWORD_FILE: /run/secrets/db_user_password
    secrets:
      - db_root_password
      - db_user_password

volumes:
  db_data:

secrets:
  db_root_password:
    file: ./secrets/db_root_password.txt
  db_user_password:
    file: ./secrets/db_user_password.txt