services:

  otel-collector:
    image: otel/opentelemetry-collector:0.146.1
    restart: unless-stopped
    expose:
      - 4317
      - 4318
      - 55679
    volumes:
      - $PWD/docker-configs/otel-config.yaml:/etc/otelcol/config.yaml

volumes:
  grafana-data:
  tempo-data: