services:
  # grafana:
  #   image: grafana/grafana:12.3.3
  #   restart: unless-stopped
  #   volumes:
  #     - grafana-data:/var/lib/grafana
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
  #     interval: 1m
  #     timeout: 5s
  #     retries: 3
  #     start_period: 1m
  #     start_interval: 3s
  #   ports:
  #     - "3000:3000"

  # tempo:
  #   image: grafana/tempo:2.10.1
  #   restart: unless-stopped
  #   volumes:
  #     - tempo-data:/var/tempo
  #   ports:
  #     - "3200:3200"
  #     - "4317:4317"
  #     - "4318:4318"

  otel-collector:
    image: otel/opentelemetry-collector:0.146.1
    restart: unless-stopped
    ports:
      - "4317:4317"
      - "4318:4318"
      - "55679:55679"
    volumes:
      - $PWD/docker-configs/otel-config.yaml:/etc/otelcol/config.yaml

volumes:
  grafana-data:
  tempo-data: